flask
gunicorn
requests
pinecone-client
langchain
langchain-groq
langchain-embeddings
langchain-huggingface
langchain-community
groq
sentence-transformers==2.2.2  # smaller model
python-dotenv
pypdf
setuptools<81


